*, *:before, *:after {
	box-sizing: border-box;
}

body {
	margin: 0;
	width: 100%;
	font-family: "Cutive Mono", monospace;
	line-height: 1.5;
	font-weight: 400;
	font-style: normal;
	font-size: 1.25rem;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
}

.sep {
	border: 0;
	width: 10em;
	height: 1px;
	margin: 1em 0;
	background-color: rgba(255, 255, 255, 0.5);
}

.mast {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
			-ms-flex-align: center;
					align-items: center;
	width: 100%;
	height: 100vh;
	color: #fff;
	background-color: rgba(17, 17, 17, 0.5);
}

.mast a{
	color: inherit;
	font-family: inherit;
	text-transform: uppercase;
	margin:5px 30px;
}

.mast:after {
	z-index: 0;
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: rgba(17, 17, 17, 0.5);
}

.mast > header {
	z-index: 2;
	position: relative;
}

.mast__bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	margin: 0;
	padding: 0;
	background-size: cover;
	background-position: 50%;
}

.mast__header {
	margin:5%;
	z-index: -1;
	overflow: hidden;
	height: 375px;
}

.mast__title {
	font-family: "Cutive Mono", monospace;
	font-size: 1em;
	font-weight: 400;
	letter-spacing: 0.3em;
	text-transform: uppercase;

}

.mast__title span {
	animation: title-shimmer 2s 0s ease both;
	animation-iteration-count: infinite;
}

.mast__text {
	font-family: "Cutive Mono", monospace;
	font-size: 1em;
	margin: 0 0 0.5em;
	line-height: 1.5;
	white-space: pre;
	z-index: -1;
}

.mast__text span {
	-webkit-animation: letter-glow 0.7s 0s ease both;
			animation: letter-glow 0.7s 0s ease both;
}

.letters {
	z-index: 10;
}

canvas{
	display:block;
	vertical-align:bottom;
}

input[type="text"],
input[type="password"]{
	background: transparent;
	outline: rgba(255, 255, 255, 0.6) solid 1px;
	color: rgba(255, 255, 255, 0.6);
	width: 50%;
	height: 50px;
	font-size: inherit;
	padding: 5px;
	text-align: center;
	border-style: hidden;
	margin: 10px;
	display: block;
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 10px;

}

input[type="text"]:focus,
input[type="password"]:focus{
	transition: .3s;
	outline-offset: 4px;
	outline: rgba(255, 255, 255, 0.9) solid 1px;
	color: rgba(255, 255, 255, 0.9);
}

button{
	background-color: rgba(255, 255, 255, .3);
	outline: rgba(255, 255, 255, 0.6) solid 1px;
	color: rgba(255, 255, 255, 1);
	width: 25%;
	height: 50px;
	font-size: inherit;
	padding: 5px;
	text-align: center;
	border-style: hidden;
	margin: 20px;
}

span.login-eye{
	color: rgba(255, 255, 255, .6);
	font-size: 1.5em;
	font-family: 'FontAwesome';
	position: absolute;
	bottom: 33%;
	right: 26%;
	z-index: 2;
}

span.register-eye{
	color: rgba(255, 255, 255, .6);
	font-size: 1.5em;
	font-family: 'FontAwesome';
	position: absolute;
	bottom: 28%;
	right: 26%;
	z-index: 2;
}

span.fa-arrow-left{
	color: rgba(255, 255, 255, .6);
	font-size: 1.5em;
	font-family: 'FontAwesome';
	position: absolute;
	top:20px;
	left: 20px;
	z-index: 2;
}

#particles-js{
	width:100%;
	height:100%;
	position: absolute;
	z-index: 1;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

#login-form,
#register-form{
	visibility: hidden;
	position: absolute;
	top: 0;
	width: 100%;
	text-align: center;
}

/*************/
/* Keyframes */
/*************/
@-webkit-keyframes letter-glow {
	0% {
		opacity: 0;
		text-shadow: 0px 0px 1px rgba(255, 255, 255, 0.1);
	}
	66% {
		opacity: 1;
		text-shadow: 0px 0px 20px rgba(255, 255, 255, 0.9);
	}
	77% {
		opacity: 1;
	}
	100% {
		opacity: 0.7;
		text-shadow: 0px 0px 20px rgba(255, 255, 255, 0);
	}
}


@keyframes letter-glow {
	0% {
		opacity: 0;
		text-shadow: 0px 0px 1px rgba(255, 255, 255, 0.1);
	}
	66% {
		opacity: 1;
		text-shadow: 0px 0px 20px rgba(255, 255, 255, 0.9);
	}
	77% {
		opacity: 1;
	}
	100% {
		opacity: 0.7;
		text-shadow: 0px 0px 20px rgba(255, 255, 255, 0);
	}
}


@keyframes title-shimmer {
	0% {
		opacity: 0.5;
		text-shadow: 0px 0px 20px rgba(255, 255, 255, 0.2);
	}
	66% {
		opacity: .8;
		text-shadow: 0px 0px 20px rgba(255, 255, 255, 0.7);
	}
	75% {
		opacity: 0.6;
	}
	100% {
		opacity: 0.6;
		text-shadow: 0px 0px 1px rgba(255, 255, 255, 0.2);
	}
}


@keyframes div-collapse {
	0%{
		border-top: 1px solid rgba(255, 255, 255, 0);
		border-bottom: 1px solid rgba(255, 255, 255, 0);
		height: 375px;
	}
	15% {
		border-top: 1px solid rgba(255, 255, 255, 0.5);
		border-bottom: 1px solid rgba(255, 255, 255, 0.5);
		height: 375px;
	}
	100% {
		border-top: 1px solid rgba(255, 255, 255, 0.5);
		border-bottom: 1px solid rgba(255, 255, 255, 0.5);
		height: 0px;
	}
	
}

@keyframes div-open{
	0%{
		border-top: 1px solid rgba(255, 255, 255, 0.5);
		border-bottom: 1px solid rgba(255, 255, 255, 0.5);
		height: 0px;
	}

	50%{
		border-top: 1px solid rgba(255, 255, 255, 0.5);
		border-bottom: 1px solid rgba(255, 255, 255, 0.5);
		height: 375px;
		background-color: rgba(0,0,0,0);
	}
	100%{
		border-top: 1px solid rgba(255, 255, 255, 0);
		border-bottom: 1px solid rgba(255, 255, 255, 0);
		height: 375px;
		background-color: rgba(0,0,0,0);
	}
}





